n8n/template-extraccion-diaria
{
  "meta": {
    "instanceId": "62d6182550bdfc22ef3f79d13ccd7acf84723c82e84043a45bb4566cadc450cf"
  },
  "nodes": [
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1vW9ngNpA5UQQTlkCPvdfAoXY3p_Omfj_jZ_d6H1jKik",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vW9ngNpA5UQQTlkCPvdfAoXY3p_Omfj_jZ_d6H1jKik/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "createdBy",
              "displayName": "createdBy",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "website",
              "displayName": "website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "access",
              "displayName": "access",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pricingModel",
              "displayName": "pricingModel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "industry",
              "displayName": "industry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "shortDescription",
              "displayName": "shortDescription",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "longDescription",
              "displayName": "longDescription",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "agents",
              "displayName": "agents",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "keyFeatures",
              "displayName": "keyFeatures",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "useCases",
              "displayName": "useCases",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "tags",
              "displayName": "tags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "logo",
              "displayName": "logo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "logoFileName",
              "displayName": "logoFileName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "image",
              "displayName": "image",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "imageFileName",
              "displayName": "imageFileName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "video",
              "displayName": "video",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "upvotes",
              "displayName": "upvotes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "upvoters",
              "displayName": "upvoters",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "approved",
              "displayName": "approved",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "createdAt",
              "displayName": "createdAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "slug",
              "displayName": "slug",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "version",
              "displayName": "version",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "featured",
              "displayName": "featured",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "a329b186-5cea-492d-9217-b7bb370c16a1",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        440,
        360
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "BAJejdSHFEczHgWe",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "hour": 0
            }
          ]
        }
      },
      "name": "Daily Trigger",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        -980,
        880
      ],
      "id": "aff43700-ef0d-4ced-83a4-991ce237153a"
    },
    {
      "parameters": {
        "functionCode": "return [\n  \n  { json: { url: 'https://aiagentsdirectory.com/_next/data/6p31o-IAUCPBLfF1dQEEY/category/ads-ai-agents.json?category=ads-ai-agents' } },\n  { json: { url: 'https://aiagentsdirectory.com/_next/data/6p31o-IAUCPBLfF1dQEEY/category/gaming-agents.json?category=gaming-agents' } },\n  { json: { url: 'https://aiagentsdirectory.com/_next/data/6p31o-IAUCPBLfF1dQEEY/category/authentication-agents.json?category=authentication-agents' } },\n  { json: { url: 'https://aiagentsdirectory.com/_next/data/6p31o-IAUCPBLfF1dQEEY/category/desktop-ai-agents.json?category=desktop-ai-agents' } },\n  { json: { url: 'https://aiagentsdirectory.com/_next/data/6p31o-IAUCPBLfF1dQEEY/category/travel-ai-agent.json?category=travel-ai-agent' } },\n  { json: { url: 'https://aiagentsdirectory.com/_next/data/6p31o-IAUCPBLfF1dQEEY/category/website-builder-agent.json?category=website-builder-agent' } },\n  { json: { url: 'https://aiagentsdirectory.com/_next/data/6p31o-IAUCPBLfF1dQEEY/category/ai-shopping-agents.json?category=ai-shopping-agents' } },\n\n  { json: { url: 'https://aiagentsdirectory.com/_next/data/6p31o-IAUCPBLfF1dQEEY/category/education-ai-agents.json?category=education-ai-agents' } },\n  { json: { url: 'https://aiagentsdirectory.com/_next/data/6p31o-IAUCPBLfF1dQEEY/category/music-ai-agents.json?category=music-ai-agents' } },\n  { json: { url: 'https://aiagentsdirectory.com/_next/data/6p31o-IAUCPBLfF1dQEEY/category/data-science.json?category=data-science' } },\n  { json: { url: 'https://aiagentsdirectory.com/_next/data/6p31o-IAUCPBLfF1dQEEY/category/translation-ai-agents.json?category=translation-ai-agents' } },\n  { json: { url: 'https://aiagentsdirectory.com/_next/data/6p31o-IAUCPBLfF1dQEEY/category/operations-ai-agents.json?category=operations-ai-agents' } },\n  { json: { url: 'https://aiagentsdirectory.com/_next/data/6p31o-IAUCPBLfF1dQEEY/category/ai-avatar.json?category=ai-avatar' } },\n  { json: { url: 'https://aiagentsdirectory.com/_next/data/6p31o-IAUCPBLfF1dQEEY/category/ai-agent-memory.json?category=ai-agent-memory' } },\n  { json: { url: 'https://aiagentsdirectory.com/_next/data/6p31o-IAUCPBLfF1dQEEY/category/ai-docs-agents.json?category=ai-docs-agents' } },\n  { json: { url: 'https://aiagentsdirectory.com/_next/data/6p31o-IAUCPBLfF1dQEEY/category/tool-libraries.json?category=tool-libraries' } },\n  { json: { url: 'https://aiagentsdirectory.com/_next/data/6p31o-IAUCPBLfF1dQEEY/category/agentic-ide.json?category=agentic-ide' } },\n  { json: { url: 'https://aiagentsdirectory.com/_next/data/6p31o-IAUCPBLfF1dQEEY/category/web-scraping.json?category=web-scraping' } },\n  { json: { url: 'https://aiagentsdirectory.com/_next/data/6p31o-IAUCPBLfF1dQEEY/category/ai-security.json?category=ai-security' } },\n  { json: { url: 'https://aiagentsdirectory.com/_next/data/6p31o-IAUCPBLfF1dQEEY/category/recruiting-ai-agents.json?category=recruiting-ai-agents' } },\n  { json: { url: 'https://aiagentsdirectory.com/_next/data/6p31o-IAUCPBLfF1dQEEY/category/email-ai-agents.json?category=email-ai-agents' } },\n  { json: { url: 'https://aiagentsdirectory.com/_next/data/6p31o-IAUCPBLfF1dQEEY/category/lead-generation-ai-agent.json?category=lead-generation-ai-agent' } },\n  { json: { url: 'https://aiagentsdirectory.com/_next/data/6p31o-IAUCPBLfF1dQEEY/category/coding-library.json?category=coding-library' } },\n  { json: { url: 'https://aiagentsdirectory.com/_next/data/6p31o-IAUCPBLfF1dQEEY/category/web-3.json?category=web-3' } },\n  { json: { url: 'https://aiagentsdirectory.com/_next/data/6p31o-IAUCPBLfF1dQEEY/category/software-testing-agent.json?category=software-testing-agent' } },\n  { json: { url: 'https://aiagentsdirectory.com/_next/data/6p31o-IAUCPBLfF1dQEEY/category/web-ai-agents.json?category=web-ai-agents' } },\n  { json: { url: 'https://aiagentsdirectory.com/_next/data/6p31o-IAUCPBLfF1dQEEY/category/model-serving.json?category=model-serving' } },\n  { json: { url: 'https://aiagentsdirectory.com/_next/data/6p31o-IAUCPBLfF1dQEEY/category/ai-video-agents.json?category=ai-video-agents' } },\n  { json: { url: 'https://aiagentsdirectory.com/_next/data/6p31o-IAUCPBLfF1dQEEY/category/marketing-ai-agent.json?category=marketing-ai-agent' } },\n  { json: { url: 'https://aiagentsdirectory.com/_next/data/6p31o-IAUCPBLfF1dQEEY/category/research.json?category=research' } },\n  { json: { url: 'https://aiagentsdirectory.com/_next/data/6p31o-IAUCPBLfF1dQEEY/category/coding-agent.json?category=coding-agent' } },\n  { json: { url: 'https://aiagentsdirectory.com/_next/data/6p31o-IAUCPBLfF1dQEEY/category/content-creation.json?category=content-creation' } },\n  { json: { url: 'https://aiagentsdirectory.com/_next/data/6p31o-IAUCPBLfF1dQEEY/category/sales-ai-agent.json?category=sales-ai-agent' } },\n  { json: { url: 'https://aiagentsdirectory.com/_next/data/6p31o-IAUCPBLfF1dQEEY/category/workflow.json?category=workflow' } },\n  { json: { url: 'https://aiagentsdirectory.com/_next/data/6p31o-IAUCPBLfF1dQEEY/category/customer-service.json?category=customer-service' } },\n  { json: { url: 'https://aiagentsdirectory.com/_next/data/6p31o-IAUCPBLfF1dQEEY/category/personal-assistant.json?category=personal-assistant' } },\n  { json: { url: 'https://aiagentsdirectory.com/_next/data/6p31o-IAUCPBLfF1dQEEY/category/coding-assistant.json?category=coding-assistant' } },\n  { json: { url: 'https://aiagentsdirectory.com/_next/data/6p31o-IAUCPBLfF1dQEEY/category/digital-workers.json?category=digital-workers' } },\n  { json: { url: 'https://aiagentsdirectory.com/_next/data/6p31o-IAUCPBLfF1dQEEY/category/data-analysis.json?category=data-analysis' } },\n  { json: { url: 'https://aiagentsdirectory.com/_next/data/6p31o-IAUCPBLfF1dQEEY/category/voice-ai-agents.json?category=voice-ai-agents' } },\n  { json: { url: 'https://aiagentsdirectory.com/_next/data/6p31o-IAUCPBLfF1dQEEY/category/ai-agents-platform.json?category=ai-agents-platform' } },\n  { json: { url: 'https://aiagentsdirectory.com/_next/data/6p31o-IAUCPBLfF1dQEEY/category/ai-agents-frameworks.json?category=ai-agents-frameworks' } },\n  { json: { url: 'https://aiagentsdirectory.com/_next/data/6p31o-IAUCPBLfF1dQEEY/category/productivity.json?category=productivity' } },\n\n  { json: { url: 'https://aiagentsdirectory.com/_next/data/6p31o-IAUCPBLfF1dQEEY/category/defi-agents.json?category=defi-agents' } },\n  { json: { url: 'https://aiagentsdirectory.com/_next/data/6p31o-IAUCPBLfF1dQEEY/category/payments.json?category=payments' } },\n  { json: { url: 'https://aiagentsdirectory.com/_next/data/6p31o-IAUCPBLfF1dQEEY/category/observability.json?category=observabilityy' } },\n  { json: { url: 'https://aiagentsdirectory.com/_next/data/6p31o-IAUCPBLfF1dQEEY/agent/agentok-ai.json?slug=agentok-ai' } },\n  { json: { url: 'https://aiagentsdirectory.com/_next/data/6p31o-IAUCPBLfF1dQEEY/agent/xaver.json?slug=xaver' } },\n  { json: { url: 'https://aiagentsdirectory.com/_next/data/6p31o-IAUCPBLfF1dQEEY/agent/hexabot.json?slug=hexabot' } }\n\n\n];\n\n\n\n"
      },
      "name": "Generate URLs",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -620,
        600
      ],
      "id": "fd4cba2f-a53a-4a60-ae85-a48329a68d65"
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        -460,
        800
      ],
      "id": "dced9809-b5f3-4b14-9787-1cd7f507d81a"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "name": "Fetch Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -380,
        520
      ],
      "id": "1883526c-f8b7-4fb3-9e1e-0434bb78d48c"
    },
    {
      "parameters": {
        "content": "## Extracion datos diarios",
        "height": 707.5024545984363,
        "width": 925.2021085146283
      },
      "id": "cac45b03-9580-457a-ace7-f14099ec94a4",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -940,
        300
      ]
    },
    {
      "parameters": {
        "content": "## actualizacion moldeos de datos",
        "height": 891.3744613275007,
        "width": 993.5654145223493
      },
      "id": "fd30fab5-314b-4cc9-a177-cca36287d4a9",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        120
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "https://f111-181-51-32-139.ngrok-free.app/api/agents/upload",
        "jsonParameters": true,
        "options": {
          "bodyContentType": "json"
        },
        "bodyParametersJson": "={{ JSON.stringify({ data: $input.all() }) }}"
      },
      "name": "Rag Query Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        860,
        200
      ],
      "id": "d196586f-f336-4c6e-9bde-1220b24f764f"
    },
    {
      "parameters": {
        "functionCode": "return [\n  {\n    json: {\n      data: $input.all().map(item => item.json)\n    }\n  }\n];"
      },
      "name": "Consolidar Datos",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        420,
        160
      ],
      "id": "9687a05a-e566-4855-846d-63d30ccaf1ab"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "https://github.com/tribu-ia",
          "mode": "url"
        },
        "repository": {
          "__rl": true,
          "value": "https://github.com/tribu-ia/.github/blob/main/",
          "mode": "url"
        },
        "filePath": "LINEAMIENTO_DOCUMENTACION_AGENTES_V2.md",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "id": "663e5c3e-e167-4a22-b06f-198647c7b985",
      "name": "Documentacion",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        -720,
        400
      ],
      "credentials": {
        "githubApi": {
          "id": "SLyJgsacOwxbZPvS",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n   // Decodificar el contenido Base64\n   const decodedText = Buffer.from(item.json.content, 'base64').toString('utf-8');\n   return { json: { decodedText } }; // Devuelve el texto decodificado\n});\n"
      },
      "id": "4d2e928b-5d0f-40d9-bd40-d847315e48b8",
      "name": "Extraccion base 64",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -740,
        820
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "https://github.com/tribu-ia",
          "mode": "url"
        },
        "repository": {
          "__rl": true,
          "value": "documentacion-investigacion-agentes-ia",
          "mode": "list",
          "cachedResultName": "documentacion-investigacion-agentes-ia",
          "cachedResultUrl": "https://github.com/tribu-ia/documentacion-investigacion-agentes-ia"
        },
        "filePath": "={{ $('Normalize Data').item.json.slug }}/documentacion.md",
        "binaryData": "={{ false }}",
        "fileContent": "=# IMPORTANTE:\n\nEsta documentación fue generada como temple base para ti. por favor complementala y elimina este comentario una vez hayas documentado tu agente\n\nGuia documentación: {{ $('Documentacion').item.json.url }}\n\n\n{{ $json.output }}",
        "commitMessage": "=Documentacion generada para {{ $('Normalize Data').item.json.name }} "
      },
      "id": "19c71e28-36c4-4ba1-b832-7b39c273fa80",
      "name": "Creacion archivo base agente",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        540,
        760
      ],
      "credentials": {
        "githubApi": {
          "id": "SLyJgsacOwxbZPvS",
          "name": "GitHub account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "functionCode": "const agents = $json.pageProps?.agents || []; // Asegúrate de que sea una lista\nreturn agents.map(agent => ({\n  json: {\n    id: agent._id || null,\n    name: agent.name || null,\n    createdBy: agent.createdBy || null,\n    website: agent.website || null,\n    access: agent.access || null,\n    pricingModel: agent.pricingModel || null,\n    category: agent.category || null,\n    industry: agent.industry || null,\n    shortDescription: agent.shortDescription || null,\n    longDescription: agent.longDescription ? agent.longDescription.substring(0, 50000) : null, // Limitar texto largo\n    keyFeatures: agent.keyFeatures ? agent.keyFeatures.join(\", \") : null, // Combinar array en texto\n    useCases: agent.useCases ? agent.useCases.join(\", \") : null, // Combinar array en texto\n    tags: agent.tags || null,\n    logo: agent.logo || null,\n    logoFileName: agent.logoFileName || null,\n    image: agent.image || null,\n    imageFileName: agent.imageFileName || null,\n    video: agent.video || null,\n    upvotes: agent.upvotes || 0,\n    upvoters: agent.upvoters ? agent.upvoters.join(\", \") : null, // Combinar array en texto\n    approved: agent.approved || false,\n    createdAt: agent.createdAt || null,\n    slug: agent.slug || null,\n    version: agent.__v || null,\n    featured: agent.featured || false\n  }\n}));\n"
      },
      "name": "Normalize Data",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -160,
        480
      ],
      "id": "870b21ad-d884-499d-965d-4f2a0d50cd96"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "dda59086-141e-4e7c-a629-a55f64810592",
              "leftValue": "={{ $('Existe documentacion').item.json.path }}",
              "rightValue": "={{ $('Normalize Data').item.json.slug }}",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "975f9d12-a71a-441d-bcc8-6d4019c0d2fc",
              "leftValue": "={{ $json.error }}",
              "rightValue": "The resource you are requesting could not be found",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            },
            {
              "id": "685fec59-5a57-4c42-b1c3-490b6fce16ad",
              "leftValue": "={{ $('Fetch Data1').item.json.data }}",
              "rightValue": "={{ $('Normalize Data').item.json.slug }}",
              "operator": {
                "type": "array",
                "operation": "contains",
                "rightType": "any"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d60bb404-df42-444f-8146-f35e1a7dada8",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        80,
        860
      ],
      "disabled": true
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "https://github.com/tribu-ia",
          "mode": "url"
        },
        "repository": {
          "__rl": true,
          "value": "documentacion-investigacion-agentes-ia",
          "mode": "list",
          "cachedResultName": "documentacion-investigacion-agentes-ia",
          "cachedResultUrl": "https://github.com/tribu-ia/documentacion-investigacion-agentes-ia"
        },
        "filePath": "={{ $json.slug }}",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "id": "82c43217-41be-4dc3-81c1-bd902f192930",
      "name": "Existe documentacion",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        -140,
        860
      ],
      "credentials": {
        "githubApi": {
          "id": "SLyJgsacOwxbZPvS",
          "name": "GitHub account"
        }
      },
      "disabled": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "id": "ab54b2f6-a0c2-4f60-9837-e31d1a7ffc1f",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        880,
        860
      ]
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-flash-001",
        "options": {}
      },
      "id": "3dbfd93e-4298-43a5-979d-310e49df83c2",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        340,
        740
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "jGh65HpIiX5pKoZ8",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Create the template documentation for this AGENT {{ $('Normalize Data').item.json.name }}\n\n<INPUT_DATA>\nname:{{ $('Normalize Data').item.json.name }}\ncreatedBy:{{ $('Normalize Data').item.json.createdBy }}\nwebsite:{{ $('Normalize Data').item.json.website }}\naccess:{{ $('Normalize Data').item.json.access }}\npricingModel:{{ $('Normalize Data').item.json.pricingModel }}\ncategory:{{ $('Normalize Data').item.json.category }}\nindustry:{{ $('Normalize Data').item.json.industry }}\nshortDescription:{{ $('Normalize Data').item.json.shortDescription }}\nlongDescription:{{ $('Normalize Data').item.json.longDescription }}\nkeyFeatures:{{ $('Normalize Data').item.json.keyFeatures }}\nuseCases:{{ $('Normalize Data').item.json.useCases }}\ntags:{{ $('Normalize Data').item.json.tags }}\nlogo:{{ $('Normalize Data').item.json.logo }}\nvideo:{{ $('Normalize Data').item.json.video }}\nslug:{{ $('Normalize Data').item.json.slug }}\n<INPUT_DATA>\n\n",
        "options": {
          "systemMessage": "=Act as an expert documentation specialist in the analysis of AI agents. Your task is to generate a detailed and structured base document that serves as a reference for investigating and documenting AI agents. Use the preliminary data provided to you about the AI agent to produce a comprehensive document adhering to professional documentation standards.\n\nObjective\nCreate a document that includes:\n\nIntroduction: Brief description of the AI agent and its purpose.\nInitial Classification: Identification of its category within the AI ecosystem and implementation level.\nKey Capabilities: List of main features and technical scope.\nTechnical Architecture: Description of its structure, dependencies, and internal workings.\nUse Cases: Specific examples where the agent is beneficial and its limitations.\nImplementation Guide: Steps required to configure and integrate the agent.\nComparative Analysis: Key differentiators and position compared to alternatives.\nPricing and Evaluation: Cost breakdown and analysis of commercial value.\nSummary: Highlight strengths, weaknesses, and best use cases.\nInstructions\nFormat: Follow a professional Markdown structure.\nAccuracy: Ensure all points are based on the provided data and are well-organized.\nConsistency: Use an objective, clear, and professional tone.\nComplexity: Provide detailed technical explanations while ensuring they are accessible to both technical and general audiences.\nInput Data\nYou will receive the AI agent's data in a structured JSON format. Use this data to complete all sections of the document.\n\n<EXPECTED_OUTPUT>\nGenerate a structured, easy-to-use template document based on the guidelines provided below. The output should provide placeholders for users to fill in relevant data and clearly separate each section for readability and usability. Use parameterized values or spaces for user filled after as placeholders for dynamic content and this a git hub documentantion thah means the expeted OUTPUT have to be in .md format\n<EXPECTED_OUTPUT>\n\n\n<DOCUMENTATION_INSTRUCTION>\n{{ $('Extraccion base 64').item.json.decodedText }}\n<DOCUMENTATION_INSTRUCTION>"
        }
      },
      "id": "1252abf9-9d72-455e-bb40-0099d21bebcb",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        400,
        580
      ],
      "retryOnFail": true,
      "disabled": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "=https://f111-181-51-32-139.ngrok-free.app/api/agents?page=1&pageSize=1000",
        "options": {}
      },
      "name": "Fetch Data1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -980,
        400
      ],
      "id": "e1f727c5-5107-4b3c-b04f-17b3c1fe0ac2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "685fec59-5a57-4c42-b1c3-490b6fce16ad",
              "leftValue": "={{ $('Fetch Data1').item.json.data }}",
              "rightValue": "={{ $('Normalize Data').item.json.slug }}",
              "operator": {
                "type": "array",
                "operation": "contains",
                "rightType": "any"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "84ff4d95-2543-4144-bf12-e22686366672",
      "name": "If1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        140,
        260
      ]
    }
  ],
  "connections": {
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Daily Trigger": {
      "main": [
        [
          {
            "node": "Fetch Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate URLs": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Fetch Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Data": {
      "main": [
        [
          {
            "node": "Normalize Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rag Query Search": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consolidar Datos": {
      "main": [
        [
          {
            "node": "Rag Query Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Documentacion": {
      "main": [
        [
          {
            "node": "Extraccion base 64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraccion base 64": {
      "main": [
        [
          {
            "node": "Generate URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Creacion archivo base agente": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Normalize Data": {
      "main": [
        [
          {
            "node": "Existe documentacion",
            "type": "main",
            "index": 0
          },
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Existe documentacion": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          },
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Creacion archivo base agente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Data1": {
      "main": [
        [
          {
            "node": "Documentacion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        null,
        [
          {
            "node": "Consolidar Datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {}
}
