n8n/template-agente-envio-correos
{
  "meta": {
    "instanceId": "62d6182550bdfc22ef3f79d13ccd7acf84723c82e84043a45bb4566cadc450cf"
  },
  "nodes": [
    {
      "parameters": {
        "content": "## Agente recomendador\nEste agente recomienda productos digitales con base en información que extrae de una tool de conjunto Google Sheet como base de conocimiento.",
        "height": 625.0381149082306,
        "width": 919.5465740480406
      },
      "id": "737203dc-5d8d-44da-b991-ee721dee9597",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        820,
        491.41775020887076
      ]
    },
    {
      "parameters": {
        "name": "correo",
        "description": "usa esta herramienta para enviar el correo con la propuesta una vez le hayas hecho la prupuesta al usuario siempre debes solicitarle el correo antes de usar esta herramienta. Debes pasar a esta herramienta la propuesta de las recomendaciones mas el correo electronico todo en el mismo mensaje",
        "workflowId": {
          "__rl": true,
          "value": "GLThgNGnv13SuOtz",
          "mode": "list",
          "cachedResultName": "Recomendador Correo"
        },
        "responsePropertyName": "fecha_ingreso",
        "specifyInputSchema": true,
        "jsonSchemaExample": "{\n\t\"query\": \"la recomendacion que le estas dando al usuario mejor dicho todo el workshop completo\",\n  \"email\":\"Correo electronico del usuario para poder realizar el envio de correo, si no lo sabes opreguntalo al usuario\"\n}"
      },
      "id": "dc7d0888-cfc1-4544-9fa6-f89e7c907472",
      "name": "Envio email",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.2,
      "position": [
        1440,
        820
      ]
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "   - Esta herramienta contiene la lista completa y actualizada de productos digitales disponibles.\n   - Es tu única fuente para identificar y recomendar workshops o soluciones.\n   - Debes consultarla cada vez que necesites información sobre productos o soluciones antes de hacer cualquier recomendación.\n   - Nunca inventes información o productos que no estén en esta herramienta. Si la información que buscas no está disponible, informa al usuario y ofrece escalar la consulta a un especialista humano.\n",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1tej34hnM33G2TqtpYSWTg2DxtkiZI2Ew1Rsb7U_rSPo/edit?gid=409840904#gid=409840904",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 409840904,
          "mode": "list",
          "cachedResultName": "Hoja 2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tej34hnM33G2TqtpYSWTg2DxtkiZI2Ew1Rsb7U_rSPo/edit#gid=409840904"
        },
        "options": {}
      },
      "id": "7e0d500a-7f0b-41ca-9b5a-61aa67f44e5a",
      "name": "Productos",
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        1600,
        920
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "BAJejdSHFEczHgWe",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-exp",
        "options": {}
      },
      "id": "19b1cae1-8030-4860-8bc8-dc2b99b30e9e",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2040,
        660
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "jGh65HpIiX5pKoZ8",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3e4c0abe-375d-4f16-a9b4-171a73084e66",
              "leftValue": "={{ $json.query.email }}",
              "rightValue": "SIN CORREO",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "adaa73f2-d8cd-4fd8-96df-7a786208bc3e",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1900,
        260
      ],
      "alwaysOutputData": false,
      "notesInFlow": false
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "correos",
          "mode": "list",
          "cachedResultName": "correos"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "texto_normal": "={{ $('AI Agent').item.json.output }}",
            "pregunta": "={{ $('When chat message received').item.json.chatInput }}",
            "correo": "={{ $('Correo').item.json.text }}",
            "texto_html": "={{ $('Contenido').item.json.text }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "correo",
              "displayName": "correo",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pregunta",
              "displayName": "pregunta",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "texto_normal",
              "displayName": "texto_normal",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "texto_html",
              "displayName": "texto_html",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fecha_ingreso",
              "displayName": "fecha_ingreso",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "id": "7ce5c20e-ffab-474e-8167-485b4f02d225",
      "name": "Postgres",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2440,
        560
      ],
      "retryOnFail": true,
      "credentials": {
        "postgres": {
          "id": "RdKLg72y82f53v1d",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Envío correo electrónico\nEste workflow envía un correo electrónico con la invitación para un workshop gratuito.",
        "height": 647.6489666532214,
        "width": 829.1268968819506
      },
      "id": "e9b3b591-a0eb-40dd-9c8b-083a76f757f0",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1800,
        140
      ]
    },
    {
      "parameters": {},
      "id": "b25e6169-0ee7-4927-8f23-bb0f3fa77fed",
      "name": "envio_de_correo",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        1820,
        620
      ],
      "notesInFlow": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=\nEsta es la propuesta para generar formato evita agregar \n\n<TEXTO_A_FORMATEAR>\n{{ $json.query.query }}\n<TEXTO_A_FORMATEAR>",
        "messages": {
          "messageValues": [
            {
              "message": "Quiero que generes una plantilla de correo electrónico en formato HTML que sea visualmente atractiva, profesional y funcional para ser enviada a un cliente desde Gmail. Instrucciones: 1. Encabezado: Incluye un título atractivo y profesional, con un diseño limpio y moderno. 2. Cuerpo del mensaje: Diseña un área principal donde se pueda presentar contenido en texto, como recomendaciones o listas, de forma clara y bien estructurada. El texto de ejemplo para esta sección será: 'He recopilado información relevante sobre problemas de arquitectura que podrías estar enfrentando. A continuación, te presento un paquete de recomendaciones que puede ser útil para abordar tus desafíos.'  Contenido  En el final del mensaje siempre agrega lo siguiente: “¡Agendemos un workshop gratuito para discutir en detalle cómo estas soluciones pueden ser implementadas en tu empresa y ayudarte a superar los retos arquitectónicos actuales! Contáctanos al siguiente email comercial@api-ux.com para concretar la fecha. ¡Tienes hasta el 30 de enero para solicitar tu workshop! \tSaludos”  1. Diseño general: Usa colores suaves y modernos, fuentes legibles, y un diseño minimalista que transmita confianza al cliente. Asegúrate de que la plantilla se vea bien en Gmail y sea compatible con diferentes dispositivos. 2. Pie de página fijo: Siempre incluye la siguiente información al final del correo, en un diseño limpio y organizado:   Asistente Inteligente Apiux Apiux Tecnología Chile Perú Colombia España Tel: (+562) 232445000 Cr 9 No. 80 45 P 4. Bogotá D.C - Colombia. Apiux Sitio Web: api-ux.com LinkedIn: https://www.linkedin.com/company/api-ux/  3. Estilo del pie de página: Usa colores neutrales y asegúrate de que el diseño sea consistente con el resto del correo. Requisitos técnicos: * Usa estilos CSS embebidos o en línea para garantizar la compatibilidad con Gmail. * Evita imágenes externas que necesiten cargarse desde un servidor (usa colores y estilos para gráficos). * Diseña un correo minimalista pero profesional que siga principios básicos de diseño UI/UX. El resultado debe ser un archivo HTML que pueda copiarse directamente y usarse en Gmail. Asegúrate de no incluir explicaciones adicionales sobre lo que estás haciendo, solo entrega el código."
            }
          ]
        }
      },
      "id": "215c9185-20d8-427e-ba1b-1ad17c4ed83b",
      "name": "Contenido",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        2020,
        500
      ],
      "retryOnFail": true
    },
    {
      "parameters": {
        "sendTo": "={{ $('envio_de_correo').item.json.query.email }}",
        "subject": "Invitación Workshop Apiux",
        "emailType": "text",
        "message": "={{ $json.text }}",
        "options": {
          "ccList": "jamilton.quintero@api-ux.com"
        }
      },
      "id": "f220b9ae-ce53-4af8-8651-58d2db190a7c",
      "name": "Envio Gmail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2320,
        300
      ],
      "webhookId": "1a5e2067-b25d-43cc-bf36-8dd035f1d3f4",
      "retryOnFail": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "apVVE2GJpoGbIYit",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-4o-mini-2024-07-18",
        "options": {}
      },
      "id": "ed181348-cf6b-4745-8fbc-7f5bf11c3a44",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        1040,
        920
      ],
      "credentials": {
        "openAiApi": {
          "id": "h9iYynzbWFPgbGCz",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "id": "a87b145f-8bf8-48ad-8e73-dfacfd97c767",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.2,
      "position": [
        1280,
        860
      ]
    },
    {
      "parameters": {
        "public": true,
        "mode": "webhook",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "b6518ab8-8e59-44e5-98ca-6ddda0b123a8",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        880,
        640
      ],
      "webhookId": "43bb9681-5f9d-4144-833e-a0c69b1960ed"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "Eres 'Digital Expert Bot,' un asistente especializado en productos digitales Y SOLO EN PRODUCTOS DIGITALES. Tu propósito es identificar los problemas del usuario y recomendar soluciones basadas exclusivamente en la información disponible en la herramienta de productos (Google Sheets).\n\n<tools_description>\n- **Productos (Google Sheets)**: Es tu única fuente de información para identificar y recomendar productos o workshops. **Debes consultarla siempre antes de hacer cualquier recomendación o propuesta.** Si no encuentras información relevante, informa al usuario que un especialista humano lo contactará. Nunca inventes productos ni información adicional.\n- **Envío de correos**: Usa esta herramienta únicamente después de haber consultado la herramienta de productos y diseñado una propuesta basada en los datos disponibles.\n\n<interaction_logic>\n1. Saluda al usuario y explica que tu objetivo es identificar soluciones digitales para su empresa.\n2. Haz hasta 5 preguntas para entender sus necesidades, enfocándote en:\n   - Problemas principales de la empresa.\n   - Objetivos a corto y largo plazo.\n   - Herramientas y procesos actuales.\n3. **Consulta obligatoriamente la herramienta de productos antes de cualquier recomendación.** Si no encuentras datos relevantes, escala la consulta a un humano.\n4. Diseña una propuesta de hasta 5 workshops basándote exclusivamente en la información extraída de la herramienta de productos.\n5. Envía un correo con:\n   - Descripción breve de los workshops recomendados.\n   - Beneficios clave.\n   - Llamado a la acción:\n     \"¡Agendemos un workshop gratuito para discutir en detalle cómo estas soluciones pueden ser implementadas en tu empresa y ayudarte a superar los retos arquitectónicos actuales! Contáctanos al email comercial@api-ux.com para concretar la fecha. ¡Tienes hasta el 30 de enero para solicitar tu workshop!\"\n\n<important_instructions>\n- Es obligatorio usar la herramienta de productos antes de cualquier recomendación.\n- Nunca inventes información. Si no tienes datos, escala la consulta.\n- Todas las propuestas deben reflejar los datos disponibles en la herramienta de productos.\n- Tu liena de atencion es unica y exclusivamente de PRoductos digitales orientados al SOTFWARE si te preguntan por otra cosa diles que esa no es tu especialidad y diles cual es.\n-El correo debe tener una estructura valida de correo\n"
        }
      },
      "id": "37be695f-7ebc-485e-b210-762ed639a04d",
      "name": "AI Agent1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1280,
        580
      ],
      "notesInFlow": false,
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "content": "## Agente recomendador\nEste agente recomienda productos digitales con base en información que extrae de una tool de conjunto Google Sheet como base de conocimiento.",
        "height": 625.0381149082306,
        "width": 919.5465740480406
      },
      "id": "8a80d81a-1235-4d63-8524-b6899e73feeb",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        820,
        -220
      ]
    },
    {
      "parameters": {
        "name": "correo",
        "description": "usa esta herramienta para enviar el correo con la propuesta una vez le hayas hecho la prupuesta al usuario siempre debes solicitarle el correo antes de usar esta herramienta. Debes pasar a esta herramienta la propuesta de las recomendaciones mas el correo electronico todo en el mismo mensaje",
        "workflowId": {
          "__rl": true,
          "value": "GLThgNGnv13SuOtz",
          "mode": "list",
          "cachedResultName": "Recomendador Correo"
        },
        "responsePropertyName": "fecha_ingreso",
        "specifyInputSchema": true,
        "jsonSchemaExample": "{\n\t\"query\": \"la recomendacion que le estas dando al usuario mejor dicho todo el workshop completo\",\n  \"email\":\"Correo electronico del usuario para poder realizar el envio de correo, si no lo sabes opreguntalo al usuario\"\n}"
      },
      "id": "d74a308d-71a5-4193-84d1-02bf446760a9",
      "name": "Envio email1",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.2,
      "position": [
        1420,
        140
      ]
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "   - Esta herramienta contiene la lista completa y actualizada de productos digitales disponibles.\n   - Es tu única fuente para identificar y recomendar workshops o soluciones.\n   - Debes consultarla cada vez que necesites información sobre productos o soluciones antes de hacer cualquier recomendación.\n   - Nunca inventes información o productos que no estén en esta herramienta. Si la información que buscas no está disponible, informa al usuario y ofrece escalar la consulta a un especialista humano.\n",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1tej34hnM33G2TqtpYSWTg2DxtkiZI2Ew1Rsb7U_rSPo/edit?gid=409840904#gid=409840904",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 409840904,
          "mode": "list",
          "cachedResultName": "Hoja 2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tej34hnM33G2TqtpYSWTg2DxtkiZI2Ew1Rsb7U_rSPo/edit#gid=409840904"
        },
        "options": {}
      },
      "id": "cc5681cc-0371-4dc6-b799-e1eabf7793dc",
      "name": "Productos1",
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        1600,
        209
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "BAJejdSHFEczHgWe",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-4o-mini-2024-07-18",
        "options": {}
      },
      "id": "35a0ea72-f3e6-49ab-ab81-d18d58bd7f00",
      "name": "OpenAI Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        1040,
        209
      ],
      "credentials": {
        "openAiApi": {
          "id": "h9iYynzbWFPgbGCz",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "com.twilio.messaging.inbound-message.received"
        ]
      },
      "id": "909e6747-c0c1-41ff-8a23-379298abca6b",
      "name": "Twilio Trigger",
      "type": "n8n-nodes-base.twilioTrigger",
      "typeVersion": 1,
      "position": [
        900,
        -60
      ],
      "webhookId": "8bc55625-4ac5-4fec-a774-dbd6a5f09cd1",
      "credentials": {
        "twilioApi": {
          "id": "9dMPx5tAkq2I6iAQ",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Esta es la consulta del usuario:\n\n {{ $json.Body }}",
        "options": {
          "systemMessage": "=Eres 'Digital Expert Bot,' un asistente especializado en productos digitales Y SOLO EN PRODUCTOS DIGITALES. Tu propósito es identificar los problemas del usuario y tratarlo por nombre concreto ( {{ $json.ProfileName }})\ny recomendar soluciones basadas exclusivamente en la información disponible en la herramienta de productos (Google Sheets).\n\n<tools_description>\n- **Productos (Google Sheets)**: Es tu única fuente de información para identificar y recomendar productos o workshops. **Debes consultarla siempre antes de hacer cualquier recomendación o propuesta.** Si no encuentras información relevante, informa al usuario que un especialista humano lo contactará. Nunca inventes productos ni información adicional.\n- **Envío de correos**: Usa esta herramienta únicamente después de haber consultado la herramienta de productos y diseñado una propuesta basada en los datos disponibles.\n\n<interaction_logic>\n1. Saluda al usuario y explica que tu objetivo es identificar soluciones digitales para su empresa.\n2. Haz hasta 5 preguntas para entender sus necesidades, enfocándote en:\n   - Problemas principales de la empresa.\n   - Objetivos a corto y largo plazo.\n   - Herramientas y procesos actuales.\n3. **Consulta obligatoriamente la herramienta de productos antes de cualquier recomendación.** Si no encuentras datos relevantes, escala la consulta a un humano.\n4. Diseña una propuesta de hasta 5 workshops basándote exclusivamente en la información extraída de la herramienta de productos.\n5. Envía un correo con:\n   - Descripción breve de los workshops recomendados.\n   - Beneficios clave.\n   - Llamado a la acción:\n     \"¡Agendemos un workshop gratuito para discutir en detalle cómo estas soluciones pueden ser implementadas en tu empresa y ayudarte a superar los retos arquitectónicos actuales! Contáctanos al email comercial@api-ux.com para concretar la fecha. ¡Tienes hasta el 30 de enero para solicitar tu workshop!\"\n\n<important_instructions>\n- Es obligatorio usar la herramienta de productos antes de cualquier recomendación.\n- Nunca inventes información. Si no tienes datos, escala la consulta.\n- Todas las propuestas deben reflejar los datos disponibles en la herramienta de productos.\n- Tu liena de atencion es unica y exclusivamente de PRoductos digitales orientados al SOTFWARE si te preguntan por otra cosa diles que esa no es tu especialidad y diles cual es.\n-El correo debe tener una estructura valida de correo\n"
        }
      },
      "id": "61e09695-a549-4a74-afbd-ba162d1b2b8a",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1200,
        -120
      ],
      "notesInFlow": false,
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.From }}"
      },
      "id": "1803c29d-5343-4747-bbff-1ae436566de4",
      "name": "Window Buffer Memory1",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.2,
      "position": [
        1240,
        120
      ]
    },
    {
      "parameters": {
        "from": "={{ $('Twilio Trigger').item.json.To }}",
        "to": "={{ $('Twilio Trigger').item.json.From }}",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "id": "53a82b42-5c32-4d5b-a619-450a0db60f1f",
      "name": "Twilio",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1600,
        -120
      ],
      "credentials": {
        "twilioApi": {
          "id": "9dMPx5tAkq2I6iAQ",
          "name": "Twilio account"
        }
      }
    }
  ],
  "connections": {
    "Envio email": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Productos": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Contenido",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        null,
        [
          {
            "node": "Contenido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "envio_de_correo": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contenido": {
      "main": [
        [
          {
            "node": "Envio Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envio Gmail": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envio email1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Productos1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Twilio Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Twilio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {}
}
